
# Log Level
# 0 = quiet
# 1 = normal
# 2 = verbose
log_level = 1


# Number of processor threads used for folding structures.
# Note: This might severely affect computations of other
# users on the same machine.
openmp_thread_count = 10


# During determination of expression clusters from the
# alignment data, two clusters are merged if they lie less 
# than cluster_gap_size (in nt) apart.
cluster_gap_size = 10


# Discard a cluster if it contains less than 
# cluster_min_reads reads.
cluster_min_reads = 10


# Length of flanking region (in nt) by which the main 
# expression cluster is extended at the 5' and 3' end.
cluster_flank_size = 200


# Maximum length (in nt) of a cluster (including flanking
# regions).
cluster_max_length = 2000


# Minimum length (in nt) of precursor.
# Ignored if min_precursor_length = 0.
min_precursor_length= 50


# Maximum length (in nt) of precursor.
# Ignored if max_precursor_length = 0.
max_precursor_length= 0


# Per-nucleotide minimum free energy (MFE/nt) of the 
# folded sequence. miRNA candidates must have 
# MFE/nt < max_mfe_per_nt.
max_mfe_per_nt = -0.2


# Maxmimum number of hairpins of the folded structure. 
# miRNA candidates must have a number of 
# hairpins < max_hairpin_count.
max_hairpin_count = 4


# Minimum length (in nt) of the double stranded segment 
# within the folded sequence. miRNA candidates must have 
# a double-stranded segment (allowing for one mismatch) 
# of length >= min_double_strand_length.
min_double_strand_length = 18


# Number of permutations for the calculation of the
# null distribution.
permutation_count = 100


# p-value cutoff for significance testing.
# Optimum structures must have a p-value smaller (<) 
# than max_pvalue.
max_pvalue = 0.01


# Threshold for Dicer-associated difference in coverage
# as fraction of total miRNA precursor coverage.
min_coverage = 0.01


# Minimum fraction of paired nucleotides in mature/star
# miRNA duplex
min_paired_fraction = 0.55


# Minimum length (inclusive, in nt) of mature/star miRNA.
min_duplex_length = 18


# Maximum length (exclusive, in nt) of mature/star miRNA.
max_duplex_length = 30


# Allow/disallow for 3 consecutive mismatches in the 
# mature miRNA. 
# Allow = 1.
allow_three_mismatches = 1


# Allow/disallow for 2 consecutive mismatches at the
# start/end of the miRNA duplex. 
# Allow = 1.
allow_two_terminal_mismatches= 1


# Setting to 1 creates gnuplot coverage plots.
# Note: Requires gnuplot.
create_coverage_plots = 1


# Setting to 1 creates structure plots.
# Note: Requires VARNA.
create_structure_plots = 1


# Setting to 1 creates structure coverage plots.
# Note: Requires VARNA.
create_structure_coverage_plots = 1


# Setting to 1 deletes auxiliary files.
# Auxiliary files including LaTeX intermediate files,
# eps figures, etc.
cleanup_auxiliary_files = 1
