
log_level = 1

cluster_gap_size = 10
cluster_min_reads = 10
cluster_window_size = 200
cluster_max_length = 2000


min_precursor_length= 50
max_precursor_length= 0
min_mfe_per_nt = -0.2
max_hairpin_count = 4
min_double_strand_length = 18
permutation_count = 100
max_pvalue = 0.01
min_coverage = 0.01
min_paired_fraction = 0.55
min_mature_strand_length = 18
max_mature_strand_length = 30
allow_three_mismatches = 1
allow_two_terminal_mismatches= 1

create_coverage_plots = 1
create_structure_images = 1
create_coverage_images = 1
cleanup_auxiliary_files = 1

