
# Log Level
# 0 = quiet
# 1 = normal
# 2 = verbose
log_level = 1


# Number of processor threads used for folding structures.
# Note: This might severely affect comptations of other
# users.
openmp_thread_count = 10


# When clustering, merge reads where the gap between them is 
# less than cluster_gap_size
cluster_gap_size = 10

# Discard a cluster is it contains less than 
# cluster_min_reads reads
cluster_min_reads = 10


# Amount the clusters get extended for folding 
cluster_window_size = 200

# Maximum size of a cluster
cluster_max_length = 2000

# Minimum length of precursor.
# Ignored if =0.
min_precursor_length= 50


# Maximum length of precursor.
# Ignored if =0.
max_precursor_length= 0

# mimimum mfe a folded sequence should have to be
# considered a candidate
min_mfe_per_nt = -0.2

# Maxmimum number of hairpins in optimum structure.
# The number of hairpins within optimum structures
# has to be smaller (<) than max_hairpin_count
max_hairpin_count = 4


# Minimum length of double stranded segment within
# the optimum structre.
# Optimum structures must have a double-stranded
# segment (allowing for one mismatch) of length
# greater than or equal (>=) to min_double_strand_length
min_double_strand_length = 18


# Number of permutations for the calculation of the
# null distribution.
permutation_count = 10


# p-value cutoff for significance testing.
# Optimum structures must have a p-value smaller (<) 
# than paramPvalue
max_pvalue = 0.01

# Threshold for Dicer-associated difference in coverage
# as fraction of total miRNA precursor coverage
min_coverage = 0.01

# Minimum fraction of paired nucleotides in mature/star
# miRNA duplex
min_paired_fraction = 0.55

# Minimum length of mature/star miRNA (inclusive)
min_mature_strand_length = 18


# Maximum length of mature/star miRNA (exclusive)
max_mature_strand_length = 30

# Allow/disallow for 3 consecutive mismatches in the 
# mature miRNA. Allow = 1.
allow_three_mismatches = 1

# Allow/disallow for 2 consecutive mismatches at the
# start/end of the miRNA duplex. Allow=1
allow_two_terminal_mismatches= 1

# Toggle to 0 if you do not want gnuplot coverage plots created
create_coverage_plots = 1

# Toggle to 0 if you do not want structure images created
create_structure_images = 1

# Toggle to 0 if you do not want coverage images created
create_coverage_images = 1

# Toggle to 0 if auxiliary files should not be deleted
cleanup_auxiliary_files = 1

