.DS_Store

*.*.gz
*.log

*.o
*.trs
.deps/



autom4te.cache/
check_sum



config.log
config.status

miRA
check_cluster
check_parse_sam
src/.deps/
src/.dirstamp
stamp-h1
tmp/
test-suite.log
test/.deps/
test/.dirstamp
