.DS_Store


*.log
*.o
*.trs
.deps/
data/
!test/data/
src/ViennaRNA-2.1.8

output.json
output.miRA

Makefile
configure
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
check_sum

config.h.in
config.h.in~
config.log
config.status

miRA
miRAtest
libLfold.a
check_cluster
check_parse_sam
src/.deps/
src/.dirstamp
stamp-h1
tmp/
test-suite.log
test/.deps/
test/.dirstamp
example/sample_output_new
