.DS_Store

*.*.gz
*.log
*.m4
*.o
*.trs
.deps/

Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
check_sum

config.h.in
config.h.in~
config.log
config.status

miRA

src/.deps/
src/.dirstamp
stamp-h1
tmp/
test-suite.log
test/.deps/
test/.dirstamp
